.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(231, 231, 231);
}

.left-section {
    width: 200px;
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35pxs;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-icon {
    height: 40px;
    width: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}

.voice-search-icon,
.upload-icon-container,
.create-icon-container,
.notifications-icon-container,
.my-channel-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: Roboto, Arial;
}

.search-icon .tooltip,
.voice-search-icon .tooltip,
.upload-icon-container .tooltip,
.create-icon-container .tooltip,
.notifications-icon-container .tooltip,
.my-channel-container .tooltip {
    background-color: grey;
    color: white;
    position: absolute;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-icon:hover .tooltip,
.voice-search-icon:hover .tooltip,
.upload-icon-container:hover .tooltip,
.create-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.my-channel-container:hover .tooltip {
    opacity: 1;
}

.search-bar {
    height: 36px;
    flex: 1;
    font-size: 16px;
    padding-left: 12px;
    border-color: rgb(187, 187, 187);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}